.select2-search__field {
    width: 100% !important;
}

.alert.alert-success {
    background-color: $green !important;
    color: $white !important;
}

.alert.alert-danger {
    background-color: $red;
    color: $white;
}
